ul{
    list-style: none;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
}

body{
    margin: 0px;
}
.logo{
    height: 50px;
}

.mainButton{
    background-color: green;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 4px 2px blue;
    
}

.mainButton:hover{
    cursor: pointer;
    transform: scale(1.2);
}