ul{
    list-style: none;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
}

body{
    margin: 0px;
}
.logo{
    height: 50px;
}

.mainButton{
    background-color: green;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 4px 2px blue;
    
}

.mainButton:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.secondButton{
    background-color:yellow;
    color: black;
    border: 0px;
    padding: 3px 5px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 4px 2px orange;
}

.secondButton:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
    
.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 6px;
    border-radius: 8px;
}

.buscar:focus-within{
    border: 1px solid blue;
}


.buscar > input{
    outline: none;
    border: 0px;
}

    
