ul{
    list-style: none;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
    background-color: rgb(206, 204, 204);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px solid gray;
}

.Navbar > li{
    display: flex;
    align-items: center;
}

body{
    margin: 0px;
}
.logo{
    height: 50px;
}

.titletSection{
    color: brown;
    background-color: cornsilk;
    font-weight: bolder;
    text-align: center;
}

.mainButton{
    background-color: green;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 4px 2px blue;
    
}

.mainButton:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.secondButton{
    background-color:yellow;
    color: black;
    border: 0px;
    padding: 3px 5px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 4px 2px orange;
}

.secondButton:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
    
.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 6px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within{
    border: 1px solid blue;
}


.buscar > input{
    outline: none;
    border: 0px;   
}

.iconBuscar:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: blue;
}

.contenedorImagen{
    width: 300px;
    height: 300px;
    display: flex;
}

.contenedorImagen1{
    width: 100px;
    height: 100px;
    display: flex;
    padding: 10px;
    

}

.contenedorImagen:hover{
 cursor: pointer;
 transform: scale(1.01);
}


.contenedorImagen > img{
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.containerUl{
    display: flex;
}

.title{
    color: white;
    font-weight: bolder;
    margin: 10px;
    font-size: x-large;
}

.propiedadesList{
    margin: 10px;
    background-color: gray;
    box-shadow: 8px 8px 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-radius: 10px;
}